@import "../../assets/fa/css/font-awesome.min.css";
@import "../../assets/normalize.css";

body {
    font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  background-color: #dee;
  color: #555;
  padding: 5vh;
  margin: 0;
}

h1, h2 {
  margin: 0;
}
